<!DOCTYPE html>
<html lang="{{ Configure('read', 'lang') }}">
{% include 'elements/head.twig' %}
<body>

<div class="flash-container">
</div>

{% include viewfile %}

{% include 'elements/scripts.twig' %}

</body>
</html>
